<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project-Dev-Mobile</title>
    <!-- VUE3 CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <!-- Vue App Container -->
    <div id="app">
        <div class="nav">
            <img src="assets/images/Chaves_logo.svg.png" alt="Chaves_logo">
        </div>
        
        <img src="assets/images/Chaves-Multishow.jpg" alt="banner2" class="banner">

        <div id="container">
            <div class="cart">
                <img src="assets/images/shopping_cart_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.png" alt="icon-cart" class="icon-cart"> 
                {{ cart }}
            </div>
            <h2>A turma do Chaves na sua casa!</h2>

            <!-- Carrinho -->
        <div class="cart-container">
            <h3>Meu Carrinho</h3>
            <div v-if="cartItems.length > 0">
                <div class="cart-item" v-for="item in cartItems" :key="item.id">
                    <img :src="item.image" alt="Produto" class="cart-item-image">
                    <div class="cart-item-info">
                        <h4>{{ item.title }}</h4>
                        <p>Quantidade: {{ item.quantity }}</p>
                        <p>Preço: {{ item.price }}</p>
                    </div>
                    <button class="remove-button" @click="removeFromCart(item.id)">Remover</button>
                </div>
            </div>
            <p v-else>O carrinho está vazio.</p>
        </div>

            <div class="carousel">
                <button class="carousel-button prev" @click="prevSlide">❮</button>
                <div class="carousel-track">
                    <div 
                        class="product-container" 
                        v-for="(product, index) in visibleProducts" 
                        :key="product.id">
                        <img src="assets/images/favorite_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.png" alt="Favoritar" class="icon-heart">
                        <a :href="'product.html?id=' + product.id" style="text-decoration: none;">
                            <div class="product-image">
                                <img :src="product.image" :alt="product.title">
                            </div>
                            <div class="product-info">
                                <h3 class="product-name">{{ product.title }}</h3>
                                <p class="product-price">{{ product.price }}</p>
                                <p v-if="product.inStock >= 10" class="inStock">In Stock</p>
                                <p v-else-if="product.inStock > 1 && product.inStock < 10" style="color: rgb(255, 217, 0);font-size: 22px; font-family: Roboto, sans-serif;font-weight: 400;">Almost out of stock</p>
                                <p v-else style="color: red;font-size: 22px; font-family: Roboto, sans-serif;font-weight: 400;">Out of stock</p>
                            </a>
                            <button 
                                class="button" 
                                :class="{ disabledButton: product.inStock < 1 }"
                                @click="addToCart"
                                :disabled="product.inStock < 1"
                            >
                                <img src="assets/images/shopping_cart_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.png" alt="icon-cart" class="icon-cart">
                            </button>
                        </div>
                    </div>
                </div>
                <button class="carousel-button next" @click="nextSlide">❯</button>
            </div>
            
            <div class="product-display">
                <div 
                    class="product-container" 
                    v-for="(product, index) in products" 
                    :key="product.id">
                    <img src="assets/images/favorite_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.png" alt="Favoritar" class="icon-heart">
                    <a :href="'product.html?id=' + product.id" style="text-decoration: none;">
                        <div class="product-image">
                            <img :src="product.image" :alt="product.title">
                        </div>
                        <div class="product-info">
                            <h3 class="product-name">{{ product.title }}</h3>
                            <p class="product-price">{{ product.price }}</p>
                            <p v-if="product.inStock >= 10" class="inStock">In Stock</p>
                            <p v-else-if="product.inStock > 1 && product.inStock < 10" style="color: rgb(255, 217, 0);font-size: 22px; font-family: Roboto, sans-serif;font-weight: 400;">Almost out of stock</p>
                            <p v-else style="color: red;font-size: 22px; font-family: Roboto, sans-serif;font-weight: 400;">Out of stock</p>
                        </a>
                        <button 
                            class="button" 
                            :class="{ disabledButton: product.inStock < 1 }"
                            @click="addToCart"
                            :disabled="product.inStock < 1"
                        >
                            <img src="assets/images/shopping_cart_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.png" alt="icon-cart" class="icon-cart">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Script deve estar fora do contêiner Vue -->
    <script src="script.js"></script>
</body>
</html>